@import url("https://use.typekit.net/uks8kfa.css");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");
:root {
  --color-primary: #0d0d0d;
  --color-primary-li: #011526;
  --color-primary-dark: #024059;
  --color-primary-dark-2: #798c8c;
  --color-secondary: #fff;
  --color-grey-light-1: #f2f2f2;
  --color-grey-light-2: #bfbfbf;
  --color-grey-light-3: #8c8c8c;
  --color-grey-light-4: #404040;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);
  --line: 1px solid var(--color-grey-light-2);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}
@media only screen and (max-width: 68.75em) {
  html {
    font-size: 50%;
  }
}
@media only screen and (max-width: 34.75em) {
  html {
    font-size: 34.75%;
  }
}
@media only screen and (max-width: 31.25em) {
  html {
    font-size: 31.25%;
  }
}
@media only screen and (max-width: 23.44em) {
  html {
    font-size: 20%;
  }
}
@media only screen and (max-width: 20em) {
  html {
    font-size: 18%;
  }
}

body {
  font-family: "Open sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-grey-light-1);
  background-color: #242424;
  // background-size: cover;
  // background-repeat: no-repeat;
  // background: url("/css/img/pig.jpg") center/cover no-repeat;
  min-height: 100vh;
  margin: 0 auto;
}
/********************** HEADER **************************/
.header,
.header2,
.header3,
.header4,
.header5,
.header6 {
  width: 100vw;
  margin: 0 auto;
  background-color: #242424;
}
.header2 {
  // background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
  //   url("/img/26-small.jpg") center/cover no-repeat;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("/img/florest.jpg") center/cover no-repeat;
}
.header3 {
  // background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
  //   url("/img/header3.jpg") center/cover no-repeat;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("/img/florest.jpg") center/cover no-repeat;
}
.header4 {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("/img/black-sony-dslr-camera-2929411.jpg") center/cover no-repeat;
}
.header6 {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("/img/florest.jpg") center/cover no-repeat;
}

.header_content,
.header2_content,
.header3_content,
.header4_content,
.header5_content,
.header6_content {
  padding: 4rem 0;
  min-height: 20vh;
  width: 100vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.header3_content,
.header4_content,
.header6_content {
  min-height: 25vh;
}
.header_content-links,
.header2_content-links,
.header3_content-links,
.header4_content-links,
.header5_content-links,
.header6_content-links {
  background-color: #24242404;
  flex: 1;
  width: 90vw;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  @media (max-width: 768px) {
    display: none;
  }
  &_nav__list {
    width: 100%;
    display: flex;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0 4rem;
    list-style: none;
    &__nav__link {
      display: inline-block;
      padding: 3rem 2rem;
      position: relative;
      text-decoration: none;
      letter-spacing: 1px;
      font-family: inherit;
      font-weight: 600;
      font-style: normal;
      font-size: 1.6rem;
      letter-spacing: 1px;
      text-transform: uppercase;
      text-decoration: none;
      line-height: 1em;
      color: #fff;
      @media (min-width: 1143px) {
        font-size: 1rem;
      }
      @media (max-width: 906px) {
        font-size: 0.8rem;
        padding: 3rem 1rem;
      }
      &:hover,
      &:active {
        color: #5eb5ae;
      }
    }
  }
}

#focusgreen {
  color: #5eb5ae;
}
#focusblack {
  color: rgb(11, 11, 11);
}
.header_content-title,
.header2_content-title,
.header3_content-title,
.header4_content-title,
.header5_content-title,
.header6_content-title {
  background-color: #24242400;
  flex: 1;
  width: 90vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 20rem;
  height: 12rem;
  @media only screen and (max-width: 849px) {
    width: 16rem;
    height: 10rem;
  }
}

.hr {
  width: 50vw;
  border: none;
  height: 1px;
  background-color: rgb(145, 144, 144);
}

.header_content-title h1,
.header2_content-title h1,
.header3_content-title h1,
.header4_content-title h1,
.header5_content-title h1 {
  color: var(--color-grey-light-1);
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
  font-size: 3.4rem;
  margin: 4rem 0;
}

/********************** NAV-ICON **************************/

.toggle {
  position: fixed;
  top: 2rem;
  right: 2rem;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0);
  cursor: pointer;
  z-index: 9000;
  transition: all 2s;
  @media (min-width: 768px) {
    display: none;
  }

  @media (max-width: 768px) {
    background: rgb(228, 227, 227);
  }
}

.toggle:before {
  content: "+";
  font-size: 5rem;
  position: absolute;
  top: 2rem;
  right: 2rem;
  width: 100%;
  height: 100%;
  color: #fff;
  text-align: center;
  line-height: 5rem;
  border-radius: 50%;
  background: rgba(6, 6, 6, 0);
  transition: all 2s;
  @media (max-width: 768px) {
    background: rgb(26, 26, 26);
    top: 0rem;
    left: 0rem;
    font-size: 7rem;
  }
}
.toggle:hover::before {
  color: rgba(255, 10, 10, 0.721);
}
.toggle:hover {
  text-shadow: 0 2px 5px rgba(255, 255, 255, 0.5);
}
.toggle.active:before {
  transform: rotate(405deg);
  transform: rotate(1215deg);
  background: #00000000;
  transition: all 0.2s;
  z-index: 6000;
}

.overlay {
  position: fixed;
  top: 2rem;
  right: 2rem;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background: rgba(14, 14, 14, 0);
  transition: transform 0.5s;
}

.overlay.active {
  transform: scale(100, 100);
  background: rgb(0, 0, 0);
}

.menu {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.673),
      rgba(19, 18, 18, 0.622)
    ),
    url(/img/32-small.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  top: 0;
  right: 0;

  width: 100%;
  height: 100%;
  overflow: auto;
  z-index: 1;
  visibility: hidden;
}

.menu.active {
  visibility: visible;
}

.menu ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.menu ul li {
  list-style: none;
}

.menu ul li a {
  position: relative;
  text-decoration: none;
  font-family: " monumental extended";
  font-weight: bold;
  font-size: 5rem;
  margin: 2px 0;
  display: block;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #fff;
}

.menu ul li a :before {
  content: "";
  position: absolute;
  bottom: 5px;
  left: 2px;
  width: 100%;
  height: 2rem;
  background-image: #ffeb3b;
  z-index: -1;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s;
}
.menu ul li a:active,
.menu ul li a:hover {
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.8);
  color: rgb(201, 197, 197);
  transform: scaleX(1);
}
/***************************** SHOW CASE GALLERY***********************************/

.gallery-show,
.gallery-show1,
.gallery-show2,
.gallery-show3,
.gallery-show4 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  padding: 25vh 0;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("/img/3-small.jpg") center/cover no-repeat;
}
.gallery-show a,
.gallery-show1 a,
.gallery-show2 a,
.gallery-show3 a,
.gallery-show4 a {
  text-decoration: none;
  list-style: none;
}

.gallery-show1 {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("/img/24-small.jpg") center/cover no-repeat;
}
.gallery-show2 {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("/img/4-small.jpg") center/cover no-repeat;
}
.gallery-show3 {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("/img/18-small.jpg") center/cover no-repeat;
}
.gallery-show4 {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("/img/27-small.jpg") center/cover no-repeat;
}
.gallery-show5 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  width: 100vw;
  padding: 8vh 0;
  background-color: #242424;
}

.heading-1 {
  font-family: "Open sans", sans-serif;
  font-weight: 600;
  font-size: 7.2rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  white-space: pre-wrap;
  cursor: pointer;
}

.heading-3,
.heading-6 {
  text-align: center;
  font-family: "Open sans", sans-serif;
  font-weight: 500;
  font-size: 2.4rem;
  letter-spacing: 2px;
  text-transform: initial;
  text-align: center;
  color: #fff;
}

.heading-6 {
  font-size: 1.8rem;
  text-transform: capitalize;
}

.gallery-about .heading-5 {
  font-family: "Open sans", sans-serif;
  font-weight: 500;
  font-size: 1.4rem;
  margin: 0.8rem;
  letter-spacing: 2px;
  text-transform: initial;
  text-align: start;
  color: rgb(232, 229, 229);
}

/******************************  SUBSCRIBE**********************************/
.subscribe {
  background-color: #242424;
  padding: 4rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container {
  text-align: center;
  border-radius: 10px;
  background-color: inherit;
  width: 100%;
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
  @media only screen and (max-width: 768px) {
    flex-direction: column;
  }
}
.form__group {
  justify-content: center;
  flex-direction: column;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.form__group:not(:last-child) {
  margin-bottom: 1rem;
}

.form__input {
  font-size: 1.5rem;
  font-family: inherit;
  color: rgb(45, 43, 43);
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: ccc;
  border-bottom: 3px solid transparent;
  border: none;

  display: block;
  transition: all 0.3s;
  padding: 1rem 1.5rem;
  margin: 1rem;
  border-radius: 5px;
  border: 3px solid #ccc;
  outline: none;
}

.form:focus {
  outline: none;
  box-shadow: var(--shadow-light);
  border-bottom: 3px solid #ddd;
}
.form:focus:invalid {
  border-bottom: 3px solid rgb(184, 12, 12);
}

.form::-webkit-input-placeholder {
  color: #ddd;
}

.form__label {
  font-size: 1.3rem;
  font-weight: 400;
  margin-left: 0rem;
  margin-top: 0rem;
  display: block;
  transition: all 0.3s;
}

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem);
}

.form__radio-group {
  width: 49%;
  display: inline-block;
}

.form__radio-input {
  display: none;
}

.form__radio-label {
  font-size: inherit;
  cursor: pointer;
  position: relative;
  padding-left: 4.5rem;
}

.form::after {
  content: "";
  display: block;
  height: 1.3rem;
  width: 1.3rem;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: inherit;
  opacity: 0;
  transition: opacity 0.2s;
}

.container h1 {
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 400;
  font-family: inherit;
}
.newsletter-form .form__group button,
button {
  display: block;
  font-size: 2.2rem;
  margin: 1rem auto;
  padding: 0.5rem 6rem;
  color: rgb(254, 254, 254);
  background-color: #5eb5ae;
  border: none;
  padding: 1rem 4rem;
  border-radius: 8px;
  text-transform: uppercase;
}
.newsletter-form .form__group button:focus,
button:focus {
  outline: none;
}

.newsletter-form .form__group button {
  padding: 2rem 10rem;
}
.newsletter-form .form__group button:hover,
button:hover {
  opacity: 0.8;
  cursor: pointer;
}

input[type="text"] {
  padding: 1rem 1.8rem;
  margin: 1rem;
  border-radius: 5px;
  font-size: 1.5rem;
  border: 3px solid #ccc;
  outline: none;
}

input[type="text"]:focus {
  box-shadow: 0 0 10px rgb(26, 26, 26);
}

#messageOut {
  text-align: center;
  margin: 0.5rem 2rem;
  color: #e28b08;
  text-transform: capitalize;
}

/***************************** FOOTER ********************************/
footer {
  padding: 4rem;
  background-color: #242424;
}

.footer-content {
  width: 90vw;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-box-red,
.icon-box-side {
  fill: #fff;
  width: 2.4rem;
  height: 2.4rem;
  margin: 0.5rem;
}

.icon-box-red {
  fill: rgb(255, 0, 0);
}

.copy {
  text-align: center;
  font-size: 1rem;
  font-weight: 200;
  letter-spacing: 1px;
  color: #fff;
}
//**************************** PAGE SHOW CASE GALLERY ***********************/
@media screen and (min-width: 760px) {
  .gallery-mountains,
  .gallery-seascape,
  .gallery-cityscape,
  .gallery-woodland {
    width: 90vw;
    grid-column-gap: 1.5rem;
    grid-row-gap: 1.5rem;
    padding: 2rem;
    background-color: #242424;
    margin: 0 auto;
    max-width: 144rem;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    // grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    grid-template-rows: repeat(41, 7vw);
  }
}
.wildlife {
  margin: 0 auto;
  max-width: 144rem;
}

.gallery-Woodland {
  margin: 0 auto;
  max-width: 144rem;
}

.gallery-title {
  text-align: center;
  font-family: "Open sans", sans-serif;
  font-weight: 500;
  font-size: 2.4rem;
  letter-spacing: 2px;
  text-transform: initial;
  text-align: center;
  color: #fff;
}

.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.gallery__item--1 {
  grid-column: 1 / span 8;
  grid-row: 1 / span 4;
}

.gallery__item--2 {
  grid-column: 5 / span 4;
  grid-row: 5 / span 3;
}

.gallery__item--3 {
  grid-column: 1 / span 4;
  grid-row: 5 / span 3;
}
.gallery__item--4 {
  grid-column: 1 / span 4;
  grid-row: 8 / span 3;
}
.gallery__item--5 {
  grid-column: 5 / span 4;
  grid-row: 8 / span 3;
}
.gallery__item--6 {
  grid-column: 1 / span 4;
  grid-row: 11 / span 8;
}
.gallery__item--7 {
  grid-column: 5 / span 4;
  grid-row: 11 / span 4;
}
.gallery__item--8 {
  grid-column: 5 / span 4;
  grid-row: 15 / span 4;
}
.gallery__item--9 {
  grid-column: 1 / span 8;
  grid-row: 19 / span 6;
}
.gallery__item--10 {
  grid-column: 1 / span 8;
  grid-row: 25 / span 8;
}
.gallery__item--11 {
  grid-column: 1 / span 4;
  grid-row: 33 / span 3;
}
.gallery__item--12 {
  grid-column: 5 / span 4;
  grid-row: 33 / span 3;
}
.gallery__item--13 {
  grid-column: 1 / span 8;
  grid-row: 36 / span 6;
}

.heading-2 {
  color: var(--color-grey-light-1);
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
  font-size: 3.4rem;
  margin: 4rem 0;
}

/*********************** TUTORIALS****************/
.gallery-show5 p,
.gallery-about p {
  margin-bottom: 1rem;
  text-align: center;
  font-family: "Kameron", Georgia, serif;
  font-family: freight-sans-pro;
  font-weight: 400;
  font-style: normal;
  font-size: 1.8rem;
  letter-spacing: 0px;
  line-height: 1.6em;
  color: rgba(255, 255, 255, 0.6);
}

.gallery-about p {
  text-align: start;
  margin-top: 2rem;
}

.gallery-about .myname {
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-size: 3.8rem;
  letter-spacing: 1px;
  text-align: center;
  color: rgb(255, 255, 255);
}

.gallery-tutorials {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin: 0 auto;
  max-width: 120rem;
  padding: 25vh 0;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
    url("/img/5-venice-small.jpg") center/cover no-repeat;
}

.gallery-tutorials a {
  text-decoration: none;
  list-style: none;
}

.gallery-show5 .banner-btn {
  padding: 1.5rem 8rem;
  font-size: 1.6rem;
  background: rgb(14, 111, 69);
  border: 1px solid #ddd;
  border-radius: 2rem;
  font-weight: 500;
  font-family: inherit;
  letter-spacing: 2px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  text-transform: uppercase;
  box-shadow: 0 2rem 5rem rgba(133, 131, 131, 0.1);
  transition: var(--mainTransition);
  outline: none;
}

a {
  text-decoration: none;
}
.gallery-show5 .banner-btn:focus {
  outline: none;
}

.gallery-show5 .banner-btn:hover {
  background: rgb(250, 248, 248);
  color: rgb(0, 0, 0);
}

.gallery-tutorials1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  max-width: 120rem;
  margin: 0 auto;
  @media only screen and (max-width: 768px) {
    flex-direction: column;
  }
}

.video-img-1,
.video-img-2 {
  flex: 1;
  height: 35rem;
  width: 25rem;
  margin: 2rem;
  padding: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  text-align: center;
  border-radius: 4rem;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/img/4-small.jpg") center/cover no-repeat;
  @media only screen and (max-width: 768px) {
    min-height: 35rem;
    width: 90%;
  }
}

.video-img-2 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/img/3-small.jpg") center/cover no-repeat;
}

#bottomMargin {
  margin-bottom: 0rem;
  margin-top: 0rem;
}
#bottomMargin2rem {
  margin: 5rem 0;
}

.gallery-tutorials2 {
  position: relative;
  min-height: 100vh;
  width: 100vw;
  overflow: hidden;
  padding: 8vh;
}
.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.95;
  overflow: hidden;
}

.bg-video__content {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.bg-video__content {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
#white {
  color: #fff;
}
.center-text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;

  margin-bottom: 4rem;
}

@media screen and (max-width: 600px) {
  .center-text {
    height: 60%;
    width: 100%;
  }
}

/*******************  GEAR & ABOUT*******************/

.gallery-gear {
  margin: 0 auto;
  max-width: 120rem;
  padding: 5vh 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.gallery-about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 80rem;
}

.nav-down {
  width: 35rem;
  min-height: 65rem;
  display: flex;
  margin: 2rem auto;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

@media screen and (max-width: 768px) {
  .nav-down {
    height: 30rem;
    width: 45rem;
    margin: 2rem auto;
  }
}
@media screen and (max-width: 568px) {
  .nav-down {
    height: 70rem;
    width: 45rem;
    margin: 2rem auto;
  }
}
@media screen and (max-width: 374px) {
  .nav-down {
    height: 100rem;
    width: 100%;
    margin: 2rem auto;
  }
}

.nav-down ul {
  list-style: none;
  color: #fff;
}

.nav-down ul li {
  text-align: center;
  padding: 2px;
  font-family: "Roboto", sans-serif;
  text-transform: initial;
  font-size: 1.2rem;
  font-size: calc(1.2 + 1.5vw);
  font-weight: 200;
  letter-spacing: 2px;
  color: #5eb5ae;
  line-height: 1.6;
  margin: 2rem;
  cursor: pointer;
  transition: all 0.2 ease;
  @media (max-width: 768px) {
    font-size: 1.4rem;
  }
}

#show {
  font-size: 1.3rem;
  font-weight: 600;
  color: #d6dfde;
}

/*----------------------------------------------------------------*/

.gallery-supportted {
  margin: 0 auto;
  max-width: 120rem;
  padding: 5vh 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.amazon-logo {
  width: 20rem;
  height: 10rem;
}

.gear-video {
  position: relative;
  min-height: 80vh;
  width: 80vw;
  overflow: hidden;
  padding: 8vh;
  margin: 0 auto;
  @media only screen and (max-width: 425px) {
    min-height: 50vh;
  }
}

.bg-video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 80%;
  width: 80%;
  z-index: -1;
  opacity: 0.95;
  overflow: hidden;
  margin: 0 auto;
  @media only screen and (max-width: 425px) {
    height: 50%;
  }
}

.bg-video__content {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.bg-video__content {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
#white {
  color: #fff;
}
.center-text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;

  margin-bottom: 4rem;
}

@media screen and (max-width: 600px) {
  .center-text {
    height: 60%;
    width: 100%;
  }
}

/*******************  ABOUT*******************/
.about-logo {
  width: 60rem;
  height: 70rem;
  border-radius: 2px;
}

/*******************  CONTACT FORM*******************/
.contact-form {
  width: 100vw;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fields {
  width: 60rem;
  min-height: 40rem;
  margin: 0 auto;
  padding: 2rem;
  background-color: #c6c6c600;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.fields label {
  display: block;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-weight: 900;
  line-height: 1.5;
  letter-spacing: 0.075em;
  font-size: 0.8rem;
  text-transform: uppercase;
  margin: 0 0 0.75rem 0;

  @media screen and (max-width: 980px) {
    font-size: 0.9rem;
  }
}

.fields input[type="text"],
.fields input[type="password"],
.fields input[type="email"],
select,
textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background: transparent;
  border-radius: 0;
  border: solid 2px;
  color: inherit;
  display: block;
  outline: 0;
  padding: 2rem 4rem;
  text-decoration: none;
  width: 100%;
}

.fields input[type="text"]:invalid,
.fields input[type="password"]:invalid,
.fields input[type="email"]:invalid,
select:invalid,
textarea:invalid {
  box-shadow: none;
}

select {
  background-size: 1.25rem;
  background-repeat: no-repeat;
  background-position: calc(100% - 1rem) center;
  height: 3rem;
  padding-right: 3rem;
  text-overflow: ellipsis;
}
select:focus::-ms-value {
  background-color: transparent;
}

select::-ms-expand {
  display: none;
}

.fields input[type="text"],
.fields input[type="password"],
.fields input[type="email"],
select {
  height: 3rem;
}

textarea {
  padding: 1rem 6rem;
  width: 100%;
}

.fields input[type="checkbox"],
.fields input[type="radio"] {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  display: block;
  float: left;
  margin-right: -2rem;
  opacity: 0;
  width: 1rem;
  z-index: -1;
}
.fields input[type="checkbox"] + label,
.fields input[type="radio"] + label {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  letter-spacing: 0;
  font-family: inherit;
  text-transform: none;
  font-weight: 300;
  padding-left: 2.8rem;
  padding-right: 1rem;
  position: relative;
}
.fields input[type="checkbox"] + label:before,
.fields input[type="radio"] + label:before {
  -moz-osx-font-smoothing: gr yscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  text-transform: none !important;
  font-family: inherit;
  font-weight: 600;
}

.fields input[type="checkbox"] + label:before,
.fields input[type="radio"] + label:before {
  border-radius: 0;
  border: solid 2px;
  content: "";
  display: inline-block;
  font-size: 0.8rem;
  height: 1.8rem;
  left: 0;
  line-height: 1.65rem;
  position: absolute;
  text-align: center;
  top: -0.125rem;
  width: 1.8rem;
}

.fields input[type="checkbox"]:checked + label:before,
input[type="radio"]:checked + label:before {
  content: "\f00c";
}

.fields input[type="checkbox"] + label:before {
  border-radius: 0;
}

.fields input[type="radio"] + label:before {
  border-radius: 100%;
}
label {
  color: #f0f2f4;
}

.fields input[type="text"],
.fields input[type="password"],
.fields input[type="email"],
select,
textarea {
  border-color: #eeeeee;
}

.fields input[type="text"]:focus,
.fieldsinput[type="password"]:focus,
.fields input[type="email"]:focus,
select:focus,
textarea:focus {
  border-color: #0b5e3e8a;
}

select option {
  background-color: #ffffff;
  color: #212931;
}

.select-wrapper:before {
  color: #eeeeee;
}

.fields input[type="checkbox"] + label,
.fields input[type="radio"] + label {
  color: #212931;
}

.fields input[type="checkbox"] + label:before,
.fields input[type="radio"] + label:before {
  border-color: #eeeeee;
}

.fields input[type="checkbox"]:checked + label:before,
.fields input[type="radio"]:checked + label:before {
  background-color: #212931;
  border-color: #212931;
  color: #ffffff;
}

.fields input[type="checkbox"]:focus + label:before,
.fields input[type="radio"]:focus + label:before {
  border-color: #18bfef;
}

.fields input[type="reset"],
.fields input[type="button"],
.fields button,
.fields .button {
  background-color: transparent;
  box-shadow: inset 0 0 0 2px #717981;
  color: #717981 !important;
}

/***************** NEWSLETTER *******************/

.newsletter-form {
  background-color: inherit;
  width: 100vw;
  padding: 5vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.newsletter-form .container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.newsletter-form .container .form__input {
  font-size: 1.5rem;
  font-family: inherit;
  color: rgb(45, 43, 43);
  border-radius: 2px;
  background-color: ccc;
  border-bottom: 3px solid transparent;
  border: none;
  display: block;
  transition: all 0.3s;
  padding: 2rem 8rem;
  margin: 1rem;
  border-radius: 5px;
  border: 3px solid #ccc;
  outline: none;
}

.newsletter-grid {
  width: 120rem;
  margin: 0 auto;
  background-color: inherit;
  padding: 5vh;
}

.newsletter-grid {
  height: 100%;
  width: 100%;
  max-width: 120rem;
  display: grid;
  gap: 4rem;
  grid-template-columns: repeat(12, 1fr);
  grid-template-columns: repeat(12,  minmax(240px, 1fr));
  grid-template-columns: repeat(auto-fit,  minmax(280px, 1fr));
  @media only screen and (max-width:375px){
    grid-template-columns: repeat(auto-fit,  minmax(200px, 1fr));
  }
  
}

.card{
  height: 30rem;
  width: 100%;
  padding: 1rem;
  background-color: inherit;
  display: flex;
  flex-direction: column;
  @media only screen and (max-width:1116px){
    height: 40rem;
  }
  @media only screen and (max-width:690px){
    height: 50rem;
  }
  @media only screen and (max-width:556px){
    height: 60rem;
  }
  @media only screen and (max-width:375px){
    height: 70rem;
  }
  &-img{
    flex: 0 0 70%;
  }
  &-title{
    flex: 0 0 30%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.card-size{
  width:100%;
  height:100%;
}



